{{ form_start(form) }}
{{ form_widget(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.date) }}
    {{ form_row(form.resume) }}
    {{ form_row(form.category) }}
    {% if book.image %}
        <img width="50" src="{{ asset("uploads/Cover/#{book.image.src}") }}" alt="{{ book.image.text }}">
    {% endif %}
    {{ form_row(form.image) }}
    {% if book.client is null %}
        {% if clients is not defined %}
            <p>Aucun client trouvé.</p>
        {% else %}
            <select name="client">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.firstname | upper }} {{ client.lastname | upper }}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% else %}
        <button form="return_form">Restituer</button>
    {% endif %}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% if book.id matches '/^\\d+$/' %}
    <form id="return_form" method="post" action="{{ path('book_return', { 'id': book.id }) }}"></form>
{% endif %}
