<div class="d-flex mt-3 mb-3">
{% form_theme form 'form/form_errors.html.twig' %}
    {{ form_start(form, { 'attr': {'id': 'form-bk', 'class': 'col-11 col-sm-10 col-md-8 m-auto form form-primary'} }) }}

        <div class="form-heading">
            {{ form_title|default('Formulaire livre') }}
        </div>
        
        <div class="form-body">

            <div class="row">
                <div class="col-12 col-md-6">
                    {{ form_errors(form.title) }}
                    {{ form_label(form.title, 'Titre', { 'label_attr': {'class': 'label'}, 'attr' : {'required':'false'} }) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'input', 'placeholder': 'Titre'} }) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_errors(form.author) }}
                    {{ form_label(form.author, 'Auteur', { 'label_attr': {'class': 'label'} }) }}
                    {{ form_widget(form.author, { 'attr': {'class': 'input', 'placeholder': 'Auteur'} }) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    {{ form_errors(form.date) }}
                    {{ form_label(form.date, 'Date de publication', { 'label_attr': {'class': 'label'} }) }}
                    {{ form_widget(form.date, { 'attr': {'class': 'input'} }) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_errors(form.category) }}
                    {{ form_label(form.category, 'Catégorie', { 'label_attr': {'class': 'label'} }) }}
                    {{ form_widget(form.category, { 'attr': {'class': 'select'} }) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    {{ form_errors(form.resume) }}
                    {{ form_label(form.resume, 'Résumé', { 'label_attr': {'class': 'label'} }) }}
                    {{ form_widget(form.resume, { 'attr': {'class': 'input', 'placeholder': 'Résumé'} }) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6">
                {{ form_errors(form.image) }}
                    {% if book.image %}
                        <img id="img_book" width="50" style="float:right" src="{{ asset("uploads/Cover/#{book.image.src}") }}" alt="{{ book.image.text }}">
                    {% endif %}
                    {{ form_widget(form.image, { 'attr': {'class': 'input-file', 'onchange': 'loadFile(event)'}}) }}
                </div>
                <div class="col-12 col-md-6">
                    {% if book.client is null %}
                        {% if clients is defined %}
                            <label for="client">Emprunter le livre</label>
                            <select class="input" name="client" id="client">
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.firstname | upper }} {{ client.lastname | upper }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% else %}
                        <p class="label">Emprunté par <a href="{{ path('client_show', { 'id': book.client.id }) }}">{{ book.client.firstname }}</a></p>
                        <button class="button button-primary mt-3" form="return_form">Restituer</button>
                    {% endif %}
                </div>
            </div>

            <div class="mt-3 text-right">
                {% if edit_form is defined %}
                    <button class="button button-danger mt-2" form="delete_book">Supprimer</button>
                {% endif %}
                <button class="button button-primary">{{ button_label|default('Save') }}</button>
            </div>
        </div>    
    {{ form_end(form) }}
</div>

    {% if book.id matches '/^\\d+$/' %}
        <form id="return_form" method="post" action="{{ path('book_return', { 'id': book.id }) }}"></form>
    {% endif %}

    {% if edit_form is defined %}
        {{ include('book/_delete_form.html.twig') }}
    {% endif %}
