{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}

<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid p-0">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <div class="breadcrumb">
                    <a href="{{ path('client_index') }}">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Clients</span>
                            <span class="breadcrumb__desc">Accueil</span>
                        </span>
                    </a>
                    <a href="{{ path('client_show', { 'id': client.id }) }}">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Clients</span>
                            <span class="breadcrumb__desc">{{ client.firstname | upper }} {{ client.lastname | upper }}</span>
                        </span>
                    </a>
                    <a class="active" href="{{ path('client_edit', { 'id': client.id }) }}">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Clients</span>
                            <span class="breadcrumb__desc">Modifier un client</span>
                        </span>
                    </a>
                 </div>

            </div>

        </div>
    </nav>
    
    <div class="container">

        {{ include('client/_form.html.twig', {'button_label': 'Sauvegarder', 'edit_form': true, 'form_title': 'Modifier un client'}) }}
    
    </div>
    
{% endblock %}
