{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid p-0">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="breadcrumb my-2">
                    <a class="active" href="{{ path('client_index') }}">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Clients</span>
                            <span class="breadcrumb__desc">Accueil</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<div class="container">

 
    <h1 class="c-info">Clients enregistrés</h1>

    <a class="button button-secondary" href="{{ path('client_new') }}">Ajouter un client</a>

    <div class="row m-3">

        <table class="table table-primary anim">
        <thead>
            <tr>
                <th class="pl-3">#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th class="center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td class="pl-3">{{ client.id }} {{ client.books | length }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.lastname }}</td>
                <td class="center">
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="button button-primary">Voir</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="button button-secondary">Modifier</a>
                </td>
            </tr>
        {% else %}
                <div class="alert alert-info">no records found</div>
        {% endfor %}
        </tbody>
        </table>
      
    </div>
</div>
</div>
{% endblock %}
